.button{
  border-radius:100%;
  border:1px dashed green;
  background-color:black;
}

.button:hover{
  border-radius:100%;
  border:1px solid green;
  background-color:gray;
}

a{
  color:blue;
  text-decoration:none;
}
